body{
    font-family: 'Public Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    place-content: center;
}

.lista-imagens{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}

.imagem{
    width: 375px;
    height: 431px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 20px;
    gap: 6px;
    color: #fff;
}

.imagem p{
    font-weight: 200;
}

.imagem.rome{
    background: url("/images/rome.jpg") no-repeat center / cover;
}

.imagem.boat{
    background: url("/images/boat-of-sea.png") no-repeat center / cover;
}

.imagem.sand{
    background: url("/images/sand-and-sea.png") no-repeat center / cover;
}

.imagem.starry{
    background: url("/images/starry-night.png") no-repeat center / cover;
}